<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Animes</title>
    <style>
      .anime {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        display: flex;
        align-items: center;
      }
      .anime img {
        margin-right: 20px;
        width: 200px;
      }
      .anime-description {
        max-width: 500px;
      }
      .add-to-list {
        margin-left: auto;
      }
    </style>
  </head>
  <body>
    <h2>Lista de Animes</h2>

    <form method="GET" action="/">
      <input type="text" name="query" placeholder="Buscar anime por nombre" />
      <button type="submit">Buscar</button>
    </form>

    <div id="anime-list">
      {% for anime in animes %}
      <div class="anime">
        <img src="{{ anime.images.jpg.image_url }}" alt="{{ anime.title }}" />
        <div>
          <h3>{{ anime.title }}</h3>
          <p class="anime-description">{{ anime.synopsis }}</p>
        </div>
        <form method="POST" action="/add-to-list">
          <input type="hidden" name="anime_id" value="{{ anime.id }}" />
          <button type="submit" class="add-to-list">Agregar a mi lista</button>
        </form>
      </div>
      {% endfor %}
    </div>

    <div id="pagination">
      {% if prev_page %}
      <a
        href="/?page={{ prev_page }}{% if query %}&query={{ query }}{% endif %}"
        >Anterior</a
      >
      {% endif %} {% if next_page %}
      <a
        href="/?page={{ next_page }}{% if query %}&query={{ query }}{% endif %}"
        >Siguiente</a
      >
      {% endif %}
    </div>

    <h2>Mi Lista de Animes</h2>
    <ul>
      {% for anime in my_anime_list %}
      <li>{{ anime.title }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
