---
interface Props {
	title: string;
}
const { title } = Astro.props;


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Aprende y informate sobre el mundo de las criptomonedas con SaberCripto" />
		<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot/>
		

	</body>
	<footer>
	</footer>
</html>
<style>
	html{
		background-color: black;
	}
</style>
